<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid class="homeGrid">

    <ion-item>
      <ion-label color="primary" floating>Username</ion-label>
      <ion-input type="email" [(ngModel)]="credential.username"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label color="primary" floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="credential.password"></ion-input>
    </ion-item>
    <button class="homebutton" ion-button (click)="loginSubmit()">Round Button</button>
    <p class="homePTag" *ngIf="error$ | async"> *** {{error$ | async }}</p>
    <ion-spinner class="homespinner" *ngIf="loading$ | async" name="bubbles"></ion-spinner>
  </ion-grid>
  


</ion-content>
