page-home {

}

.homeGrid{
    margin-top: 20vh;
}
.homebutton{
    top:5vh
}
.homespinner{
    top:5vh;
    align-self: center;
}
.homePTag{
    margin-top:10vh;
    color: red;
    font-size: 18px;
}